@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -print-color-adjust: exact;

  --red: rgb(167, 67, 67);
  --light-grey: rgb(94, 90, 94);
  --light-grey-transparent: rgb(94, 90, 94, 0.3);
  --black: rgb(20, 20, 20);
}

@media screen {
  html {
    background-color: gray;
    padding-block: 2rem;
  }

  body {
    background-color: white;
    width: 260mm;
    margin: auto !important;
    padding: 5mm 5mm 10mm 10mm;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
